a.btn, span.btn, button.btn {
  i {
    margin-right: 10px;
  }
}

.btn-waiting {
  background-color: $white-gray;
  color: black;
}

.event-notification {
  .img-div {
    text-align: center;
    img {
      width: auto;
      height: 250px;
    }
  }
}